<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
</head>
<body>
    <h2>User Data</h2>
    <ul>
        <% userData.forEach(data => { %>
            <li>
                <p>Name: <%= data.name %></p>
                <p>Email: <%= data.email %></p>
                <p>Phone: <%= data.phone %></p>
                <p>Age: <%= data.age %></p>
                <p>Gender: <%= data.gender %></p>
                <p>Departure Date: <%= data.departuredate %></p>
                <p>Return Date: <%= data.returndate %></p>
                <p>Destination: <%= data.destination %></p>
                <p>Package: <%= data.package %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>